[Unit]
Description=QMK Window Notifier

[Service]
Type=simple
ExecStart=/usr/bin/qmk-window-notifier &
ExecStop=/bin/sh -c "kill -TERM $(pgrep -f '/usr/bin/qmk-window-notifier')"
Environment="XDG_CONFIG_HOME=%h/.config"
Environment=XDG_RUNTIME_DIR=/run/user/%U

[Install]
WantedBy=default.target
