[Unit]
Description=QMK Window Notifier

# We will wait for both the D-Bus socket and the graphical session target.
# D-Bus is often required for IPC in graphical environments.
Wants=dbus.socket
After=dbus.socket
After=graphical-session.target

# BindsTo remains essential for handling hot-plugging.
BindsTo=dev-qmk_window_notifier_device.device
After=dev-qmk_window_notifier_device.device

[Service]
ExecStart=/usr/bin/qmk-window-notifier
Restart=no


