<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>qmkonnect</string>
    <key>CFBundleIdentifier</key>
    <string>io.mulletware.qmkonnect</string>
    <key>CFBundleName</key>
    <string>QMKonnect</string>
    <key>CFBundleDisplayName</key>
    <string>QMKonnect</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
</dict>
</plist>
